* {
margin-top: 100px;

}
.timer {
    text-align: center;
    margin: 50px;
  }
  
  .display {
    font-size: 5em;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .controls button {
    font-size: 2em;
    margin: 0 5px;
    padding: 10px 20px;
  }
  